name: ci

on:
  pull_request:
    branches: ["main"]

env:
  GO_VERSION: "1.25.6"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Format
        run: gofmt -s -w . && git diff --exit-code

      - name: Mod download
        run: go mod download

      - name: Tidy
        run: go mod tidy && git diff --exit-code

      - name: Mod verify
        run: go mod verify

      - name: Lint
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          version: "2025.1.1"
          install-go: false

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: go test -v ./...

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build:
          - linux-amd64
          - linux-arm64
          - darwin-amd64
          - darwin-arm64
          - windows-amd64
          - windows-arm64
        include:
          - build: linux-amd64
            goos: linux
            goarch: amd64
          - build: linux-arm64
            goos: linux
            goarch: arm64
          - build: darwin-amd64
            goos: darwin
            goarch: amd64
          - build: darwin-arm64
            goos: darwin
            goarch: arm64
          - build: windows-amd64
            goos: windows
            goarch: amd64
          - build: windows-arm64
            goos: windows
            goarch: arm64
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Go build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: "0"
        run: go install -trimpath -ldflags="-s -w"
